.container {
    display: flex;
}

.card {
    margin: 50px 1% !important;
    box-shadow: 10px 10px lightgray;
}

.confirmed {
    border-top: 20px solid blue;
}

.recovered {
    border-top: 20px solid green;
}

.deaths {
    border-top: 20px solid red;
}